#svg-container {
  /* border: 1px solid red; */
  width: 98%;
  max-width: 900px;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
}

#svg {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  /* background-color: #f7f7f7; */
}

.tick {
  font-size: 15px;
  color: #888;
}

/* .y-axis .domain {
  display: none;
} */
/* .y-axis .tick line {
  stroke: #dfdfdf;
} */

.domain {
  stroke: #bbb;
}

.unit {
  text-anchor: middle;
  font-size: 16px;
}

.legend-texts {
  font-size: 15px;
  text-transform: capitalize;
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  font-size: 26px;
  font-weight: 400;
  padding: 0px 6px;
  border-radius: 6px;
  border: 1px solid #111;
  display: none;
}

/* Buttons */
.button-container {
  width: 98%;
  max-width: 900px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.button-container button {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
}
/* .button-container button:hover {
  background-color: rgba(0, 0, 0, 0.13);
} */

.button-clicked {
  background-color: #111 !important;
  color: #fff;
}
/* .button-released {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
} */
